.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(44, 47, 51, 0.488);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Mukta', sans-serif;
}

#modal {
  display: flex;
  background-color:#2e3136;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
}


#modal-left {
  display: flex;
  justify-content: right;
  flex-direction: column;
  text-align: left;
  margin-right: 15px;
  padding-top: 100px;
  font-size: 14px; 
  margin-left: 15vw;
  color: #85898d;
}

#modal-right {
  width: 70vw;
}

#modal-left > div:last-child {
  color: rgb(225, 67, 67);
  border-top: 1px solid rgb(85, 82, 82);
  margin-top: 8px;
}

#modal-left > h4 {
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  font-weight: 800;
}

.settings-tab {
  margin-top: 10px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  justify-content: right;
  padding-right: 10px;
}

.settings-tab:hover {
  color: white;
  border-radius: 5px;
  background-color: #36393e;
  cursor: pointer;
}

#modal-right {
  height: 100vh;
  background-color: #36393e;
  width: 70vw;
  padding-top: 130px;
  padding-left: 30px;
}

.settings-pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
  margin-left: 28px;
  border: 5px solid #202225;
}

#settings-username {
  margin-left: 10px;
}

.modal-right-content {
  display: flex;
  width: 600px;
  justify-content: space-between;
  background-color: black;
  padding-top: 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* position: absolute; */
}

.modal-right-content > *{
  position: relative;
  bottom: 69px;
}

#close-modal {
  display: flex;
  /* margin-left: 300px; */
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  border: 2px solid gray;
  color: gray;
  align-items: center;
  justify-content: center;
  left: 60px;
  bottom: 70px;
}

#close-modal:hover {
  background-color: #585a5e7b;
  cursor: pointer;
}

#modal-right-container {
  background-color: #202225;
  width: 600px;
  position: absolute;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#modal-main-user {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 4px;
}

#modal-main-user > div:last-child {
  display: flex;
  font-size: 10px;
  padding: 6px;
  background-color: #5765f2;
  border-radius: 5px;
  width: 80px;
  margin-left: 340px;
}

#modal-main-user > div:last-child:hover {
  background-color: #5764f293;
  cursor: pointer;
}

#user-info {
  background-color:#2e3136;
  width: 570px;
  height: 120px;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
}

#black-header {
  background-color: #16181b;
  width: 600px;
  height: 200px;
}

.setting-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#user-info > div:first-child {
  padding-top: 20px;
}

.edit-label {
  font-size: 10px;
  padding-bottom: 4px;
  color: #74767a;
}

.setting-cat {
  margin-left: 20px;
}

#update-button {
  display: flex;
  border-radius: 5px;
  margin-left: 190px;
  margin-top: 30px;
  background-color: #5765f2;
  color: white;
  border: none;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
}

#update-button:hover {
  background-color: #5764f293;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #36393e;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 300px; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  margin-top: 4px;
  margin-right: 20px;
  background-color: #5765f2;
  color: white;
  border: none;
  font-size: 10px;
  height:22px;
  width:36px;
  border-radius:2px;
}

#myBtn:hover {
  cursor: pointer;
  background-color: #5764f293;
}

.modal-content > h2 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.modal-content > div {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

.username-label > input {
  width: 100%;
  border: 1px solid #222428;
  background-color: #303339;
}

.username-label {
  font-size: 11px;
}

.username-form > label:last-child {
  margin-top: 5px;
}

.username-buttons {
  display: flex;
  font-size: 11px;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

.username-buttons > div {
  margin-right: 20px;
}

.username-buttons > div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.username-buttons > button {
  font-size: 11px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #5765f2;
  color: white;
  border: none;
  border-radius: 2px;
}

.username-buttons > button:hover {
  cursor: pointer;
  background-color: #5764f293;
}

.username-form {
  padding-top: 10px;
}

#delete-account {
  margin-top: 235px;
  background-color: #36393e;
  color: rgb(225, 67, 67);
  border: 2px solid rgb(225, 67, 67);
  border-radius: 5px;
  padding: 3px;
}

#delete-account:hover {
  cursor: pointer;
}