#server {
  display: flex;
}

#server-main {
  display: flex;
  height: 100vh;
  width: 95vw;
}

#channel-index {
  width: 15vw;
}

#server-main-center {
  width: 65vw;
}

#server-main-right {
  text-align: center;
  width: 15vw;
  height: 95vh;
  background-color: rgb(51, 49, 49);
  color: white;
}

#server-main-under-bar {
  display: flex;
}

#server-main-bottom {
  display: flex;
  width: 80vw;
}

#server-main-top {
  display: flex;
  color: white;
  background-color: rgb(63, 62, 62);
  justify-content: space-between;
  height: 5vh;
}

#user-container {
  width: 15vw;
}

