#server {
  display: flex;
}

#server-list {
  width: 70px;
  height: 100vh;
}

#channel-index {
  width: 200px;
  background-color: #2e3136;
  height: 100vh;
  color: rgba(255, 255, 255, 0.568);
}

#server-name {
  height: 40px;
  width: 200px;
  background-color:#2e3136;
  position: fixed;
  font-family: 'Mukta', sans-serif;
  color: white;
  border-bottom: 1px solid rgb(27, 23, 23);
}

#server-name:hover {
  background-color:#444548;
}

#server-name > h6 {
  padding-top: 14px;
  padding-left: 16px;
}

#channel-list-container {
  margin-top: 40px;
}

#channel-list {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#channel-list > li:first-child {
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
}

#channel-list > li:first-child > span {
  padding-left: 30px;
  font-size: 20px;
  vertical-align: middle;
}

#channel-list > li:first-child:hover {
  color: white;
}

.channel-item {
  color: inherit;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  font-family: 'Mukta', sans-serif;
  font-weight: 500; 
}

.channel-item:hover {
  background-color:#444548;
  border-radius: 10px;
}

.channel-item > a {
  color: #8e9296;
  font-weight: 600;
}

.channel-item > a > i {
  color: #8e9296;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
}

#profile {
  position: fixed;
  /* width: 100%; */
  font-family: 'Mukta', sans-serif;
  color: white;
  height: 40px;
}

#server-main-right {
  margin-top: 40px;
  position: fixed;
  width: 200px;
  right: 0;
  background-color: #2e3136;
  color: #65686d;
  height: 100%;
}

#server-main-top {
  border-bottom: 1px solid rgb(27, 23, 23);
}

#server-top-nav {
  padding-right: 280px;
}

#server-main-under-bar {
  display: flex;
}

#server-main-bottom {
  display: flex;
  width: 100%;
}

#server-main-top {
  position: fixed;
  display: flex;
  color: white;
  font-weight: 600;
  background-color: #36393e;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  z-index: 4;
}

#server-main-top > h6 > i {
  color: #8e9296;
}

.member-item {
  margin-top: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  font-family: 'Mukta', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: end; 
  color: #8e9296;
}

.member-item:hover {
  background-color:#444548;
  border-radius: 10px;
}

#members-list > li:first-child {
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 10px;
  color: #8e9296;
}

#members-list {
  padding-left: 20px;
  padding-right: 5px;
}

.member-item > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 5px;
}

.member-item > span {
  padding-left: 5px;
  padding-bottom: 5px;
}

#server-nav > a > i {
  font-size: 30px;
  padding-top: 5px;
  padding-left: 10px;
}

#server-nav > a > i:hover {
  color: #5865F2;
}

#channel-list > .selected-channel {
  background-color:#444548;
  border-radius: 10px;
}

#channel-list > .selected-channel > a {
  color: white;
}

#server-main-top > h6 {
  display: flex;
  font-family: 'Mukta', sans-serif;
  padding-top: 12px;
  padding-left: 10px;
}

#server-main-top > h6 > span {
  font-size: 14px;
  padding-left: 5px;
}

#server-main-top > h6 > a {
  color: rgba(255, 255, 255, 0.555);
}