#server-form-container {
  background-color: white;
  color: black;
  margin: 20px;
  width: 320px;
  height: 312px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 15px;
  border-radius: 5px;
}

#server-type {
  text-align: center;
}

#server-head {
  justify-content: center;
}

#server-type > div:first-child {
  font-size: 16px;
}

#server-head > h2 {
  font-size: 20px;
  margin-left: 75px;
  color: rgb(53, 50, 50);
}

#public-options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.public-button {
  display: flex;
  justify-content: left;
  width: 330px;
  height: 60px;
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
  align-items: center;
  border: 1px solid gray;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 4px;
  color: rgb(34, 32, 32);
}

#server-form-close {
  margin-left: 310px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid gray;
  color: gray;
}

.public-button > i {
  color: rgba(0, 0, 0, 0.685);
}

.public-button:first-child > i {
  padding-left: 124px;
}

.public-button:last-child > i {
  padding-left: 116px;
}

.public-button:hover {
  background-color: rgb(180, 175, 175);
  cursor: pointer;
}

#server-message {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}

.selected-public {
  background-color: grey;
}

#picture-upload {
  margin-top: 10px;
  margin-bottom: 10px;
}

#server-name-input > div {
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 5px;
  color: rgb(34, 32, 32);
}

#server-submit {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 20px;
}

#server-submit > div {
  margin-right: 20px;
  font-size: 12px;
  color: rgb(34, 32, 32);
}

#server-submit > div:hover {
  cursor: pointer;
  text-decoration: underline;
}

#create-server-button {
  font-size: 12px;
  color: rgb(34, 32, 32);
}

#server-name-input > input {
  width: 324px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid gray;
}

#server-name-input > #server-error {
  color: #ed4245;
}

.server-public-error {
  color: #ed4245;
  size: 12px;
  margin-bottom: 5px;
}

#create-server-button {
  padding: 8px;
  font-size: 11px;
  background-color: #5865f2;
  color: white;
  border: none;
  border-radius: 5px;
}