/* Splash Page */
@font-face {
    font-family: 'whitneybold';
    src: url('whitneybold-webfont.woff2') format('woff2'),
         url('whitneybold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'whitneybook';
    src: url('whitneybook-webfont.woff2') format('woff2'),
         url('whitneybook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#splash {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

#splash-header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'whitneybold';
  z-index: 500;
}

#splash a {
  text-decoration: none;
}

#logo-links:first-child {
  display: flex;
  text-align: center;
  vertical-align: middle;
}

#logo-links {
  position: relative;
  margin-left: 40px;
  display: flex;
  align-items: center;
  width: 33.33%;
  color: white;
}

#nav-links > a > i:hover {
  color: rgb(51, 49, 49);
  text-shadow: 2px 2px 5px white;
}

#logo-links h2 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

#login-button {
  display: flex;
  margin-right: 40px;
  width: 33.33%;
  justify-content: right;
}

#login-button a {
  border-radius: 20px;
  padding: 10px;
  /* border: 1px solid black; */
  background-color: white;
  font-size: 12px;
  font-family: 'whitneybook';
}

#login-button a:hover {
  color: #5865F2;
  box-shadow: 2px 2px 5px rgba(27, 26, 26, 0.495);
}

#splash-content {
  margin-top: 30%;
  text-align: center;
}

#splash-content a {
  padding: 10px;
  color:rgb(51, 49, 49);
  border-radius: 25px;
  background-color: white;
  font-family: 'whitneybook';
}

#splash-content a:hover {
  color: #5865F2;
  box-shadow: 2px 2px 5px rgba(27, 26, 26, 0.495);
}

i {
  text-decoration: none;
  color: white;
}

#nav-links {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

#nav-links a{
  margin-right: 20px;
}

#splash-image1 {
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

#splash-image2 {
  width: 100%;
  height: auto;
  margin-top: 20%;
}

#splash-footer {
  background-color: rgb(51, 49, 49);
  height: 200px;
  font-family: 'whitneybold';
  color: white;
}

#footer-main {
  width: 80%;
}

#footer-main div:last-child{
  font-size: 12px;
  color: white;
  margin-left: 20px;
}

#footer-links {
  display: flex;
}

#footer-links a {
  color: white;
  margin-right: 20px;
}

#footer-links > a > i:hover {
  color: #5865F2;
  text-shadow: 2px 2px 5px black;
}

#footer-top {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #5865F2;
  justify-content: space-evenly;
  vertical-align: middle;
  align-items: center;
}

#footer-message {
  font-size: 30px;
  font-weight: 600;
  color: #5865F2;
}

#footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 10px;
}

#footer-left {
  display: flex;
  align-items: center;
  margin-left: 8%;
  color: white;
}

#footer-left h2 {
  margin-left: 10px;
  font-size: 20px;
}

#footer-signup {
  margin-right: 7%;
  padding: 10px;
  border-radius: 20px;
  font-family: 'whitneybook';
  font-size: 12px;
  color: white;
  background-color: #5865F2;
}

#footer-signup:hover {
  background-color: #5865f2a1;
  box-shadow: 2px 2px 5px rgba(27, 26, 26, 0.495);
}

#footer-disclaimer {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
  color: gray;
  font-family: 'whitneybook'
}